style.css

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gradient_canvas {
    position : relative;
    z-index: -100;
}

content {
    z-index: 5;
    position: absolute;
    color: rgba(0, 0, 0, 0.8);
    font-family: "Raleway", sans-serif;
    padding: 50px;
    display: flex;
    align-items: flex-start;
}

h1 {
    text-align: center;
    font-size: xx-large; 
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    color: rgba(0, 0, 0, 0.8);
}

/* Container for large and small images and the text box */
.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* position: absolute;
    top: 20%; 
    left: 5%; 
    width: 80%; */
}

/* Large image styling */
.large-image img {
    border-radius: 25px;
    width: 700px; /* Fixed size for the large image */
    height: 420px; /* Fixed size for the large image */
    margin-right: 20px; /* Space between large and small images */
    object-fit: cover; /* Ensures the image maintains aspect ratio and fills the space */
}

/* Small images styling */
.small-images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px; /* Space between small images and the text box */
}

.small-images img {
    border-radius: 25px;
    width: 234px; /* Fixed size for small images */
    height: 133px; /* Fixed size for small images */
    margin-bottom: 10px; /* Space between small images */
    cursor: pointer; /* Show pointer cursor when hovering over small images */
    object-fit: cover; /* Ensures the image maintains aspect ratio and fills the space */
}

/* Text box styling */
.text-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 300px; /* Width of the text box */
    height: 420px; /* Height of the text box */
}

textarea {
    border-radius: 25px;
    width: 100%;
    height: 1000px;
    padding: 10px;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.8);
    font-family: "Raleway", sans-serif;
    border: 1px solid #ccc;
    resize: none; /* Disable resizing */
    background: #e4f0d7;
    border: 1px solid rgba(255, 255, 255, 0.5);
}


/* NEW STUFF */

/* Flexbox to align inputs and button in a row */
.date-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Spacing between elements */
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
}

/* Style inputs */
.date-container input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style button */
.date-container button {
    padding: 8px 15px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.date-container button:hover {
    background-color: #0056b3;
}

